doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  title ResetFocus - Aggiungi macchine
  link(rel='stylesheet', type='text/css', href='/rfstyle.css')
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.15.1/css/all.css', integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp', crossorigin='anonymous')
.sidenav
  img.logo(src='/assets/logo_transparent.png')
  a(href='/index.html') Home
  a(href='/download.html') Centro download
  a(href='/manager') AC Web Manager
  a(href='/info.html') Info e link utili
  a(href='/gara.html') Campionato GT3 AC
#main.main
  .card
    .card-header
      h2  Login
    include ../partials/messages.pug
    form(action='/manager/login' method='POST')
      div
        label(for='name') Nome Utente
        input.login(type='text' name='name' placeholder='Nome Utente')
      div
        label(for='password') Password
        input.login(type='password' name='password' placeholder='Password')
      button(type='submit') Login