doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  title ResetFocus - Internal Page
  link(rel='stylesheet' type='text/css' href='rfstyle.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap' rel='stylesheet')
.sidenav
  img.logo(src='assets/logo_transparent.png')
  a(href='index.html') Home
  a(href='download.html') Centro download
  a(href='/manager') AC Web Manager
  a(href='info.html') Info e link utili
  a(href='gara.html') Campionato GT3 AC
  a(href='terraria.php') Terraria Web Manager
  a(href="/manager/logout") Logout
#main.main
  h1 Assetto Corsa Server Web Manager
  
  if status
    p#status(style='font-size: 20px; font-weight: bold; color: red; margin-left:10px') Stato del server: In esecuzione
    a.stop(href='/manager/stop') Ferma il server
  else
    p#status(style='font-size: 20px; font-weight: bold; color: grey; margin-left:10px') Stato del server: Fermato
    a.start(href='/manager/start') Starta il server
  br
  br
  #rigaPrincipale.row
    .column
      .card(onclick="location.href='/manager/macchine';" style='cursor: pointer;')
        .card-header(onclick="location.href='/manager/macchine';" style='margin-bottom:0px; cursor: pointer;')
          h2 Cambia le macchine
          a(href='/manager/macchine')
            img(src='assets/car.png' style='width:50px;')
    .column
      .card(onclick="location.href='/manager/mappe';" style='cursor: pointer;')
        .card-header(onclick="location.href='/manager/mappe';" style='margin-bottom:0px; cursor: pointer;')
          h2 Cambia le mappe
          a(href='/manager/mappe')
            img(src='assets/map.png' style='width:50px;')
//-    .column
      .card
        .card-header
          h2 Tempo pratica
          a(href='/manager/sessioni')
            img(src='assets/tempo.png' style='width:50px;')
        form(method='post' action='manager.php')
          select(name='tempoScelto')
            option(selected='selected' disabled='') Scegli qui il tempo
            option(value='1') 1 minuto
            option(value='5') 5 minuti
            option(value='10') 10 minuti
            option(value='20') 20 minuti
            option(value='30000') Fino alla fine dei tempi
          input.aggiungi(type='submit' value='Modifica')
    .column
      .card
        .card-header
          h2 Impostazioni gara
        form(method='post' action='manager.php')
          label(for='giri') Numero di giri
          input#giri(type='number' name='numeroGiri' min='1' max='35')
          input.aggiungi(type='submit' value='Modifica')
          hr
        form(method='post' action='manager.php')
          p(style='margin-left:4px;') Blocco accesso degli utenti durante la gara
          input#0(type='radio' name='blockAccessGara' value='0')
          label(for='0') 0 - Gli utenti non possono entrare
          br
          input#1(type='radio' name='blockAccessGara' value='1')
          label(for='1') 1 - Gli utenti possono entrare in qualsiasi momento
          br
          input#2(type='radio' name='blockAccessGara' value='2')
          label(for='2') 2 - Gli utenti non possono entrare a 20 secondi dalla partenza
          br
          input.aggiungi(type='submit' value='Modifica')
        hr
        form(method='post' action='manager.php')
          label Tempo di attesa in secondi: 
          input#time(type='number' name='waitTimeGara' min='1' max='120')
          input.aggiungi(type='submit' value='Modifica')

  br
