doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  title ResetFocus - Mappe
  link(rel='stylesheet', type='text/css', href='/rfstyle.css')
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.15.1/css/all.css', integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp', crossorigin='anonymous')
.sidenav
  img.logo(src='/assets/logo_transparent.png')
  a(href='index.html') Home
  a(href='download.html') Centro download
  a(href='/manager') AC Web Manager
  a(href='info.html') Info e link utili
  a(href='gara.html') Campionato GT3 AC
  a(href='terraria.php') Terraria Web Manager
  a(href="/manager/logout") Logout
#main.main
  h1 Gestione mappa - Assetto Corsa
  #rigaPrincipale.row
    #correnti.column
      .card
        .card-header
          h2 Mappa attuale
          a(class="aggiungi" href="/manager/export") Esporta file
        p Tracciato: #{mappa}
        p Configurazione tracciato: #{configMappa}
    #gestione.column
      .card
        .card-header
          h2 Modifica mappa
        form(method='post' action='/manager/mappe/cambia')
          select(name='mappaScelta')
            option(selected='selected' disabled='') Scegli qui la mappa
            option feldberg
            option ks_nurburgring
            option ks_red_bull_ring
            option ks_silverstone
            option ks_silverstone1967
            option ks_vallelunga
            option ks_zandvoort
            option magione
            option monza
            option mugello
            option spa
            option trento-bondone
            option drift
            option imola
            option ks_barcelona
            option ks_black_cat_county
            option ks_brands_hatch
            option ks_drag
            option ks_highlands
            option ks_laguna_seca
            option ks_monza66
            option ks_nordschleife
            option monaco_2017
          input.aggiungi(type='submit' value='Modifica')