doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  title ResetFocus - Aggiungi macchine
  link(rel='stylesheet', type='text/css', href='/rfstyle.css')
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.15.1/css/all.css', integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp', crossorigin='anonymous')
.sidenav
  img.logo(src='/assets/logo_transparent.png')
  a(href='index.html') Home
  a(href='download.html') Centro download
  a(href='/manager') AC Web Manager
  a(href='info.html') Info e link utili
  a(href='gara.html') Campionato GT3 AC
  a(href='terraria.php') Terraria Web Manager
#main.main
  h1 Registrazione
  form(action='/manager/registrazione' method='POST')
    if errors
      each error in errors
        p(style="color:red")=error.msg
    div
      label(for='name') Name
      if name
        input(type='name' name='name' placeholder='Nome utente' value=name)
      else
        input(type='name' name='name' placeholder='Nome utente')
    div
      label(for='password') Password
      input(type='password' name='password' placeholder='Password')
    div
      label(for='password2') Conferma password
      input(type='password' name='password2' placeholder='Conferma password')
    button(type='submit')
      | Register
